database:
  dryRun: true
  host: localhost
  port: 5432
  db: electrolab
  user: electrolab
  passwd: electrolab
files:
  src: ./examples
  # done: ./examples/done
  error:
  nameTemplate: .*\.xml
log:
  level: Trace
  file:
# https://yourbasic.org/golang/regexp-cheat-sheet/
rules:
  - name: "Общее правило"
    regexp: "(?:(ТЛО-10)_([^/]*)|/([^/]*))"
    transformer:
      regexp: "(?:(ТЛО-10)_|/|([^/]*))"
      rule: 2
      fields:
        - name: FullName
          rule: 1
          # transformer: 1
          # position: 1
          # regexp: .*
          # value: 10
        - name: type
          transformer: 2
    coils:
      rule: 1..
      transformer: 2..3
      position: 1..3
      separator: "" 
      regexp: ""
      tap:
        separator: "" 
        regexp: ""        
        position: 1..-1 
        fields:
          - name: FullName
            # rule: 1
            # transformer: 1
            # coil: 1
            tap: 1
            # position: 1
            # regexp: .*
            # value: 10


# rule:
#   coils:

